body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  color: #333;
  font-family: "Poppins", serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: none;
}

.links {
  display: flex;
  margin-left: 320px;
  gap: 20px;
}
.logo {
  width: 185px;
  height: 32px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: none;

  height: 78px;
}
.navbuttons {
  display: flex;
  justify-content: auto;
  margin-left: 20px;
  gap: 20px;
  font-family: Poppins;
}
.sign-up {
  width: 110px;
  height: 46px; /* Corrected unit */
  border-radius: 3px;
  background-color: #ff9900; /* Orange color */
  color: white; /* Text color */
  border: none; /* Remove default border */
  cursor: pointer; /* Pointer cursor on hover */
}
.sign-in {
  width: 110px;
  height: 46px;
  border-color: #173a56;
}
.longbutton {
  flex-grow: 1;
}
.main-title {
  /* Text */
  max-width: 518px;
  font-size: 54px;
  margin: 0 auto;
}
.main-p {
  display: flex;
  color: #544837;
  max-width: 458px;
  font-size: 28px;
}
.image1 {
  display: inline-block;
  max-width: 100%; /* Ensure the image scales properly */
  height: auto;
  gap: 10px;
}
.content {
  display: flex;
  align-items: center;
}
h2 {
  max-width: 539px; /* Limit the width */
  margin: 0 auto; /* Center horizontally */
  text-align: center; /* Center the text inside */
  font-size: 36px;
  padding: 20px 0; /* Optional: for vertical spacing */
}
