body {
  display: flex;
  flex-direction: column;

  background-color: white;
  color: #333;
  font-family: "Poppins", serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
/*Header*/
header,
nav {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  padding: 20px;
  background-color: #fff;
}

.links,
.navbuttons {
  display: flex;
  gap: 20px;
}

.logo {
  width: 185px;
  height: 32px;
}

.sign-up,
.sign-in,
.sign-upnow {
  width: 110px;
  height: 46px;
  border-radius: 3px;
}

.sign-up,
.sign-upnow {
  background-color: #ff9900;
  color: white;
  border: none;
}

.sign-in {
  border: 1px solid #173a56;
  background-color: transparent;
  color: #173a56;
}
/*Section1*/
.align {
  display: flex;
  align-items: center;
  gap: 30px;
}
.main-title {
  max-width: 518px;
  font-size: 54px;
}

.main-p {
  color: #544837;
  max-width: 458px;
  font-size: 28px;
}

.image1,
.img3,
.image-section img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
/*Section2*/
h2 {
  max-width: 539px;
  margin: 0 auto;
  text-align: center;
  font-size: 36px;
  padding: 20px 0;
}

.optioncontainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  max-width: 1095px;
  margin: auto;
}

.design-container,
.product-managers,
.marketers {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  width: 100%;
  justify-content: center;
}

.title3 {
  font-size: 36px;
  text-align: left;
  color: #333;
  margin: 0;
  padding: 10px 0;
}

.design {
  max-width: 486px;
}

.button {
  display: flex;
  justify-content: center;
}
.sign-upnow {
  display: block;
  margin: auto;
}
section {
  margin-bottom: 40px;
}
.check {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  max-width: 20px;
  height: auto;
}
p {
  font-size: 16px;

  display: flex;
  align-items: center;
}
.footer {
  display: flex;
  font-family: "Poppins";
  background-color: white;
  padding: 40px;
  width: 100%;
}

/* Footer inner content */
.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1110px;
}

.footer-logo {
  flex: 1;
  max-width: 185px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex: 2;
  align-items: flex-start;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-column a {
  font-size: 16px;
}
.box {
  width: 325px;
  height: 48px;
}
